/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* **************
 *
 * General Styles
 *
*************** */

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.historia h2.title {
    color: white !important;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}

.vote {
    display: inline;
    list-style: none;
}

.vote li {
    display: inline-block;
}

.vote li a {
    color: #4F1E4D;
    -webkit-transition: color .4s ease;
    -moz-transition: color .4s ease;
    transition: color .4s ease;
}

.vote li a:hover {
    color: #995997;
}
/***************
 *
 * Modal
 *
****************/


.modalBg {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
  z-index: 999;
  text-align: center;
}

.profile {
  background: white;
  padding: 25px;
  border-radius: 5px;
  box-sizing: border-box;
  position: aboslute;
  width: 715px;
  max-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

h3.modal-title {
  margin-top: 25px;
}

ul.perfiles {
  list-style: none;
  margin-top: 50px;
}

ul.perfiles li { display: inline-block; }
ul.perfiles li img { max-width: 80%;}
ul.perfiles li:nth-child(2) img { max-width: 70%; }

ul.perfiles li p {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}
ul.perfiles li a { color: rgba(65, 36, 75, 1); text-decoration: none; }

/***************
 *
 * Landing
 *
****************/

.landing {
  background-image: url('../img/bg-landing.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.landing_container {
  padding-top: 30px;
  min-height: 100vh;
}
header {
          display: flex;
  -webkit-display: flex;
  align-items: center;
}
.menu {
  margin-left: auto;
}
.menu a{
  color: white;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 0 10px;
  text-transform: uppercase;
}

.info {
  display: table;
  height: 75vh;
  min-height: 500px;
  position: relative;
  width: 100%;
}

.info h1,
.info h4 {
    color: white !important;
}


.info div {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.info > div > h1{
  color: white;
  font-weight: 900;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
}

.info > div > h4 {
  color: white;
  font-style: italic;
  font-weight: lighter;
  opacity: .75;
  margin-bottom: 50px;
}
.email__registro {
  border: 3px solid #4F1E4D;
  padding: 10px;
}
.btnRegistro {
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    margin: 15px auto;
    padding: 25px 50px;
    text-transform: uppercase;

    transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
    -webkit-transition: background .2s ease;
    background: #4F1E4D;
}

.btnRegistro:hover {
    color: #fff;
    background: #533C60;
    text-decoration: none;
}


/***************
 *
 * Qué es
 *
****************/
.que_es_container {
  display: table;
  margin-top: 70px;
}
.info__que-es {
  text-align: center;
  vertical-align: middle;
}

.info__que-es h2 {
  color: #4F1E4D;
}

.info__que-es p {
  color: #989898;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: justify;
}

@media (max-width: 1920px) and (min-width: 1200px) {
  .info__que-es {
    padding-top: 70px;
  }
}

/***************
 *
 * Cómo funciona
 *
****************/

.como_funciona {
  background-size: cover;
  background: url('../img/bg-how-works.png') no-repeat center center;
  margin-top: 100px;
  min-height: 1100px;
}
.como-funciona__container {
  text-align: center;
}
.como-funciona__container h2,
.como-funciona__container h5 {
  color: #4F1E4D;
}

.persona {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.persona img {
  margin: 0 50px;
}
.persona p {
  color: #3E3E3E;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .persona {
    display: block;
  }

  .familia {
    max-width: 70%;
  }
}

.caracteristicas {
  margin-top: -70px;
}
.caracteristica {
  margin-bottom: 50px;
  text-align: left;
}
.caracteristica img {
  margin-bottom: 30px;
}
.caracteristica p {
  color: #4F1E4D;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


/***************
 *
 * Historia
 *
****************/

.historia {
  align-items: center;
  background-color: rgba(65, 36, 75, .75);
  display: flex;
  justify-content: center;
  min-height: 300px;
  padding: 50px;
}

@media (max-width: 400px) {
  .historia {
    padding: 0 0 50px 0;
  }
}

.historia__container h2 {
  color: white;
}

.historia__container p {
  color: white;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  opacity: .75;
  padding-top: 30px;
  text-align: justify;
}

.historia__container img {
 min-width: 100%;
}

.matias p {
  font-size: 13px;
  font-style: italic;
  margin-top: -20px;
  text-align: center;
}

/***************
 *
 * Nos apoyan
 *
****************/
.apoyo {
  background-color: #EEEEEE;
  min-height: 200px;
}
.apoyo__container { text-align: center; }
.apoyo__container h2 { color: #7E7E7E; }

.logos {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logos li {
  display: inline-block;
  padding: 0 35px;
}

@media screen and (max-width: 1200px) {
  .logos li { padding: 0 15px; }
}
@media screen and (max-width: 992px) {
  .logos li { padding: 40px; }
}
@media screen and (max-width: 768px) {
  .logos li { padding: 35px; }
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

h1 { font-size: 36px; color: #4F1E4D !important; font-weight: 700; }
h2 { font-size: 30px; color: #4F1E4D !important; font-weight: 700; }
h3 { font-size: 24px; color: #4F1E4D !important; font-weight: 700; }
h4 { font-size: 18px; color: #995997 !important; font-weight: 600; }
h5 { font-size: 14px; color: #464646 !important; font-weight: 600; }
h6 { font-size: 12px; color: #989898 !important; font-weight: 600; }

a:hover {
    text-decoration: none !important;
}

.body-padding {
    padding: 50px 0;
}

.error-block {
    color: red !important;
    font-size: 10px;
}

.input-text {
    border-radius: 3px;
    box-shadow: none !important;
    color: #464646;
    font-size: 13px;
}

.input-text,
.input-text:hover,
.input-text:focus {
    border: 1px solid #C4C4C4 !important;
    transition: border .25s ease;
    -moz-transition: border .25s ease;
    -webkit-transition: border .25s ease;
}

.input-text:hover,
.input-text:focus {
    border: 1px solid #4F1E4D !important;
}

.input-config,
.input-config:focus,
.input-config:active,
.input-config:hover {
    outline: none;
}

.input-config {
    display: block;
    height: 65px;
    border: 2px solid #E4E4E4;
    font-size: 18px;
    color: #9E9E9E;
    min-width: 280px;
    margin: 15px auto;
    border-radius: 3px;
}

select.input-config  {
    background: #fff;
    height: 65px;
    width: 100%;
}

.btn-config {
  cursor: pointer;
  border: none !important;
  background-color: #5CB85C;
  color: white;
  width: 100%;
  padding: 20px;
  font-size: 18px;

  transition: background-color .15s ease;
  -webkit-transition: background-color .15s ease;
  -moz-transition: background-color .15s ease;
}

.btn-config:hover {
  background-color: #3E893E;
}

.btn-secondary {
    background-color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    border: 1px solid #C4C4C4 !important;
    transition: all .25s ease;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #995997 !important;
    border: 1px solid #995997 !important;
    color: white !important;
}

.btn-primary {
    background-color: #4F1E4D;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    border: 1px solid #4F1E4D !important;
    transition: all .25s ease;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #995997 !important;
    border: 1px solid #995997 !important;
    color: white !important;
}

.navbar-coclus {
    background-color: rgba(255, 255, 255, .75);
    border-bottom: 1px solid #ccc;
    height: 120px;
    padding-top: 10px;
}

.navbar-inset {
    margin-top: 25px;
}

.navbar-inset a {
    color: #464646 !important;
    transition: all .25s ease;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

.navbar-inset a:hover {
    background-color: transparent !important;
    color: #995997 !important;
}

.title-section {
    color: #767676 !important;
    font-size: 18px !important;
    font-weight: normal;

}



/* Profile's Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.sidebar {
    background-color: #F9F9F9;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.sidebar-user-info {
    margin-bottom: 30px;
}

.sidebar-user-info img {
    max-width: 100%;
}

.img-container {
    background: white;
    border-radius: 146px;
    border: 1px solid #D7D7D7;
    height: 128px;
    margin: 20px auto;
    overflow: hidden;
    width: 128px;
}

ul.menu-sidebar-profile {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

ul.menu-sidebar-profile li {
    padding: 10px 0;
}

ul.menu-sidebar-profile li a {
    color: #767676;
    font-size: 14px;
    padding: 10px;
}

ul.menu-sidebar-profile li a i {
    font-size: 18px;
}

ul.menu-sidebar-profile li a.active,
ul.menu-sidebar-profile li a:hover,
ul.menu-sidebar-profile li a:active {
    color: #4F1E4D;
    font-weight: 600;
    transition: all .25s ease;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

/* Profile's Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.communication_type {
    margin-top: 50px;
}
.communication_type p {
    color: #464646;
    font-weight: 600;
    margin: 20px 0;
    text-transform: uppercase;
}

.intereses {
    margin: 0;
    padding: 0;
    list-style: none;
}

.intereses li {
    color: #494949;
    display: inline-block;
    font-size: 14px;
    margin: 0 25px 0 0;
}


/* Comments
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.comment {
    margin-bottom: 25px;
}
.comment img {
    width: 48px;
    height: 48px;
    border: 1px solid #D7D7D7;
    border-radius: 24px;
}

.title-comment {
    color: #464646 !important;
    font-size: 16px !important;
    font-weight: 600;
}

.body-comment {
    color: #9A9A9A;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.info-comment {
    list-style: disc;
    margin: 0;
    padding: 0;
}

.info-comment li {
    color: #717171;
    display: inline;
    font-size: 12px;
    margin: 0 15px 0 0;
}

.info-comment li a {
    color: #995997;
    font-weight: 600;
}

.info-comment li a.active {
    color: #7F7F7F;
    text-decoration: underline;
}

.reply {
    margin-top: 40px;
}

.comment-textbox {
    margin-top: 25px;
}

.comment-textbox textarea {
    height: 70px;
    resize: none;
}

.comment-textbox button {
    margin-top: 10px;
    padding: 13px 15px;
}

.reply-status {
    display: none;
}

/* Fichas
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.ficha {
    display: flex;
    align-items: center;
    border: 1px solid #4F1E4D;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
    min-height: 107px;
    margin-top: 20px;
}

.ficha > .img-container-ficha {
    width: 80px;
    height: 80px;
}

.ficha > .img-container-ficha > img {
    border-radius: 50%;
}

.ficha > .datos {
    display: inline-block;
    margin-left: 20px;
}

.ficha > .datos > a.ficha-name {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
}

.ficha > .datos > p.ficha-username {
    color: #909090;
    font-size: 13px;
}


/* Publicidad
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.publicidad {
    border-radius: 5px;
    border: 1px solid #CACACA;
    margin: 20px 0;
    padding: 10px 20px;
}

.publicidad p {
    color: #9D9D9D;
    font-size: 13px;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
  background: rgba(65, 36, 75, 1) url('../img/bg-footer.png');
  background-size: cover;
  padding: 50px 0;
  min-height: 280px;
}

.logo__foter {
  text-align: center;
  margin-bottom: 70px;
}
.menu__footer a{
  color: white;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 0 10px;
  text-transform: uppercase;
}

.footer p {
  color: white;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
}
@media (max-width: 991px) {
  .menu__footer {
    text-align: center;
    margin-bottom: 15px;
  }
  .footer p { text-align: center !important; }
}
@media (max-width: 768px) {
  .menu__footer {
    text-align: center;
    margin-bottom: 15px;
  }
  .footer p { text-align: center !important; }
}

@media (max-width: 480px) {
  .menu__footer a { padding: 0 5px; }
}


/* Subfooter
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.subfooter {
  min-height: 50px;
}
.subfooter p {
  margin: 0; padding: 0;
  text-align: center;
  line-height: 50px;
  font-size: 13px;
  font-weight: 600;
}
